---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{# {% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}

<h1>Welcome to Transistors!</h1>
<p>
  Transistors is a support group for trans adults aged 18 or older. Included in this umbrella are trans, questioning, and allies; but with an emphasis on listening to trans and questioning voices first.</p>
<p>
  Our group is very new (and this website even newer), so apologies for the mess!
  <img src="img/under-construction.gif">
</p>

<h2>How to attend</h2>
<p>
  Our group meets every other Wednesday from 6-8pm at the Close House in Iowa City. Please check out the <a href="{{ '/events/' | url }}">Events page</a> for more information about upcoming meetings.
</p>


<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11923.433111015167!2d-91.52966936237009!3d41.6588039678413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87e441e63c437835%3A0x9fc1a925a885de26!2sClose%20House%20(Iowa%20City%2C%20Iowa)!5e0!3m2!1sen!2sus!4v1666819511019!5m2!1sen!2sus"
  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"></iframe>