---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{# {% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}

<h1>Welcome to Transistors!</h1>
<p>
  Transistors is a support group for trans adults aged 18 or older. Included in this umbrella are trans, questioning, and allies; but with an emphasis on listening to trans and questioning voices first.</p>
<p>
  Our group is very new (and this website even newer), so apologies for the mess!
  <br />
  <img src="img/under-construction.gif">
</p>

Please check out the <a href="{{ '/events/' | url }}">Events page</a> for more information about upcoming meetings.